<template>
  <v-snackbar
    :timeout="2000"
    :color="snackbar.color"
    multi-line
    v-model="snackbar.show"
    class="opacity09"
  >
    {{ $trans.npTrans(snackbar.text) }}
    <v-btn dark flat @click.native="snackbar.show = false">{{ $trans.npTrans('Close') }}</v-btn>
  </v-snackbar>
</template>

<script>
  export default {
    name: 'np-snackbar',
    data () {
      return {
        snackbar: {
          show: false,
          color: 'success',
          text: 'Success'
        }
      }
    }
  }
</script>
