<template>
  <div class="app">
    <v-app :dark="$style.$localStorage.darkTheme">
      <Sidebar :navItems="nav"></Sidebar>
      <Header></Header>
      <v-content>
        <v-container>
          <router-view></router-view>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import nav from '../_nav'
import Header from '../components/Header/Header'
import Sidebar from '../components/Sidebar/Sidebar'

export default {
  name: 'full',
  components: {
    Sidebar,
    Header
  },
  data () {
    return {
      fab: false,
      fabLang: false,
      darkTheme: true,
      nav: nav.items
    }
  },
  computed: {
    name () {
      return this.$route.name
    },
    list () {
      return this.$route.matched
    }
  },
  methods: {
    changeTheme: function () {
      this.$style.$localStorage.darkTheme = !this.$style.$localStorage.darkTheme
    },
    changeLang: function () {
      var value
      (this.$trans.lang === 'bg') ? value = 'en' : value = 'bg'

      this.$trans.lang = value
      this.$router.push({ params: { lang: value } })
    }
  }
}
</script>
