<template>
  <v-card>
    <v-card-title>
      {{ __('DASHBOARD_TITLE') }}
    </v-card-title>
    <v-container fluid>
      <span v-html="__('DASHBOARD_BODY', 'backend', 1)"></span>
    </v-container>
  </v-card>
</template>

<script>
  export default {
    props: {
      source: String
    }
  }
</script>
