<template>
  <v-toolbar color="primary" dense app fixed clipped-left>
      <v-toolbar-side-icon @click.native="$style.$localStorage.showDrawer = !$style.$localStorage.showDrawer"></v-toolbar-side-icon>
      <span class="title ml-3 mr-5">ShopCloned</span>
      <v-spacer></v-spacer>
      <v-speed-dial
        v-model="fabLang"
        direction="bottom"
        :open-on-hover="true"
        transition="slide-x-transition"
      >
        <v-btn slot="activator" icon hover v-model="fabLang">
          <span :class="'flag-icon flag-icon-' + ($trans.lang === 'en' ? 'gb' : $trans.lang)"></span>
        </v-btn>
        <v-btn icon @click="changeLang()">
          <span :class="'flag-icon flag-icon-' + ($trans.lang === 'en' ? 'bg' : 'gb')"></span>
        </v-btn>
      </v-speed-dial>
      <v-btn icon @click="changeTheme()">
        <v-icon>invert_colors</v-icon>
      </v-btn>
      <v-btn icon @click="$router.push('/logout')">
        <v-icon color="red darken-1">exit_to_app</v-icon>
      </v-btn>
  </v-toolbar>
</template>

<script>

export default {
  name: 'np-header',
  data () {
    return {
      fabLang: false
    }
  },
  mounted: function () {
    if (this.$style.$localStorage.theme) {
      this.$vuetify.theme = this.$style.$localStorage.theme
    }
  },
  methods: {
    changeTheme: function () {
      this.$style.$localStorage.darkTheme = !this.$style.$localStorage.darkTheme
      if (this.$style.$localStorage.darkTheme) {
        this.$style.$localStorage.theme = {
          primary: '#263238',
          secondary: '#424242',
          accent: '#82B1FF',
          error: '#FF5252',
          info: '#2196F3',
          success: '#4CAF50',
          warning: '#FFC107'
        }
      } else {
        this.$style.$localStorage.theme = {
          primary: '#CFD8DC',
          secondary: '#424242',
          accent: '#82B1FF',
          error: '#FF5252',
          info: '#2196F3',
          success: '#4CAF50',
          warning: '#FFC107'
        }
      }

      this.$vuetify.theme = this.$style.$localStorage.theme
    },
    changeLang: function () {
      var value
      (this.$trans.lang === 'bg') ? value = 'en' : value = 'bg'

      this.$trans.lang = value

      this.$store.dispatch('getAllTranslations', value)
      this.$router.push({ params: { lang: value } })
    }
  }
}
</script>
