<template>
    <v-navigation-drawer
      app
      v-model="$style.$localStorage.showDrawer"
      width="200"
      clipped
      fixed
      dense
    >
      <v-list dense>
          <v-list-tile v-for="item in navItems" :key="item.name" @click="$router.push(item.url)">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.name }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
  export default {
    props: ['navItems']
  }
</script>
