    <v-speed-dial
      class="zindex10 opacity05"
      v-model="fab"
      fixed
      bottom left
      direction="right"
      transition="slide-x-transition"
    >
      <v-btn slot="activator" color="deep-purple darken-2" dark fab hover v-model="fab">
        <v-icon>settings</v-icon>
        <v-icon>close</v-icon>
      </v-btn>
      <v-btn fab dark small color="red" @click="$router.push('/logout')">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
      <v-btn fab small @click="changeTheme()">
        <v-icon>invert_colors</v-icon>
      </v-btn>
      <v-speed-dial
        v-model="fabLang"
        small
        direction="right"
        :open-on-hover="true"
        transition="slide-x-transition"
      >
        <v-btn slot="activator" fab hover small v-model="fabLang">
          <span :class="'flag-icon flag-icon-' + ($trans.lang === 'en' ? 'gb' : $trans.lang)"></span>
        </v-btn>
        <v-btn fab small @click="changeLang()">
          <span :class="'flag-icon flag-icon-' + ($trans.lang === 'en' ? 'bg' : 'gb')"></span>
        </v-btn>
      </v-speed-dial>
    </v-speed-dial>
