<template>
  <router-view></router-view>
</template>

<script>

export default {
  name: 'app'
}
</script>

<style>
  .left85 {
    left: 85px;
  }
  .zindex10 {
    z-index: 10 !important;
  }
  .opacity05 {
    opacity: 0.5;
  }
  .opacity05:hover {
    opacity: 1;
  }
  .opacity09 {
    opacity: 0.9;
  }
  .full-width {
    width: 100%;
  }
  .float-left {
    float: left;
  }
  .witdh-nowrap300 {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .rich-text-modal {
    width: 100%;
    height: 100% !important;
    position: fixed;
    left: 0px;
    top: 0px;
    overflow-y: auto;
    z-index: 4;
  }
  @import '~vuetify/dist/vuetify.min.css';
  /* Import Font Awesome Icons Set */
  @import '~flag-icon-css/css/flag-icon.min.css';
</style>
