<template>
  <v-card>
    <v-layout row wrap>
      <v-flex xs12 sm12 md6>
				<v-menu
				offset-x
				:close-on-content-click="false"
				:nudge-width="200"
				>
					<v-btn icon slot="activator">
						<v-icon>more_vert</v-icon>
					</v-btn>
					<v-card>
						<v-list>
							<v-list-tile>
								<v-list-tile-action>
									<v-switch v-model="pendingTrans" color="success"></v-switch>
								</v-list-tile-action>
								<v-list-tile-title>{{ __('New Translations') }}</v-list-tile-title>
							</v-list-tile>
							<v-subheader>{{ __('Table Columns') }}</v-subheader>
							<v-list-tile v-for="(column, index) in allHeaders" :key="index">
								<v-list-tile-action>
									<v-switch v-model="switchableColumns[index]" color="success"></v-switch>
								</v-list-tile-action>
								<v-list-tile-title>{{ __(column.text) }}</v-list-tile-title>
							</v-list-tile>
						</v-list>
					</v-card>
				</v-menu>
				{{ __('Translations') }}
      </v-flex>
      <v-flex xs12 sm6 md3 class="pl-4">
				<v-text-field
				append-icon="search"
				label="Search"
				v-model="filters.search"
				></v-text-field>
      </v-flex>
      <v-flex xs12 sm6 md3 class="pl-4 pr-4">
				<v-select
				:items="groups"
				v-model="filters.selectedGroup"
				:label="__('Group')"
				item-value="text"
				></v-select>
      </v-flex>
    </v-layout>
    <v-data-table
		:headers="headers"
		:items="pendingTrans ? pendingTranslations : items.data"
		:rows-per-page-items="rowsPerPage"
		:loading="loading"
		:pagination.sync="pagination"
		:total-items="pendingTrans ? pendingTranslations.length : items.total"
		style="margin-bottom: 50px;"
    >
      <template slot="headerCell" slot-scope="props">
          <span>
            {{ __(props.header.text) }}
          </span>
      </template>
      <template slot="items" slot-scope="props">
        <tr @dblclick="
          openRichText(props.item.input_type)
          props.expanded = !props.expanded
        ">
          <td v-if="switchableColumns[0]">{{ props.item.id }}</td>
          <td v-if="switchableColumns[1]">
            <v-tooltip bottom :close-delay="100" :open-delay="100">
              <span class="full-width float-left witdh-nowrap300" slot="activator">
                {{ props.item.text[$trans.lang] }}
              </span>
              <span>
                <v-layout row v-for="lang in langs" :key="lang.id">
                  <span class="witdh-nowrap300">{{ props.item.text[lang.lang] }}</span>
                </v-layout>
              </span>
            </v-tooltip>
          </td>
          <td v-if="switchableColumns[2]">{{ props.item.lang_key }}</td>
          <td v-if="switchableColumns[3]">{{ props.item.lang_group }}</td>
          <td v-if="switchableColumns[4]">
            {{ props.item.input_type ? 'Rich Text' : 'Normal Text'}}
          </td>
          <td v-if="switchableColumns[5]">
            <v-btn icon class="mx-0" @click="
                openRichText(props.item.input_type)
                props.expanded = !props.expanded
              ">
              <v-icon color="accent">edit</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" @click.native="!pendingTrans ? deleteConfirmation(props.index) : deletePending(props.index)">
              <v-icon color="error">delete</v-icon>
            </v-btn>
          </td>
        </tr>
      </template>
      <template v-if="typeof props.item.text === 'object'" slot="expand" slot-scope="props">
        <v-card flat v-if="props.item.input_type === 0">
          <v-card-text>
          <v-layout row v-for="lang in langs" :key="lang.id">
              <v-flex xs1>
                <v-subheader>
                  <span :class="'flag-icon flag-icon-' + (lang.lang === 'en' ? 'gb' : lang.lang)"></span>
                </v-subheader>
              </v-flex>
              <v-flex xs11>
                <v-text-field
								:label="__('Value')"
								v-model="props.item.text[lang.lang]"
								required
								multi-line
								rows="2"
								@change="updateItem(props.item)"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-card v-else-if="props.item.input_type === 1" tile class="rich-text-modal">
          <v-toolbar card dark color="primary">
            <v-toolbar-title>{{ __('Update Rich Text Translation') }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat @click.native="
                updateItem(props.item)
                props.expanded = false
              ">Save</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-card-text v-if="richItemEdit" v-for="lang in langs" :key="lang.id">
            <v-flex xs12>
              <v-subheader>
                <span :class="'flag-icon flag-icon-' + (lang.lang === 'en' ? 'gb' : lang.lang)"></span>
              </v-subheader>
            </v-flex>
            <v-flex xs12>
              <editor
              style="z-index:1050"
                v-model="props.item.text[lang.lang]"
                :api-key="tinyMceKey"
                :init="{
                  plugins: 'wordcount fullscreen',
                  skin_url: apiUrl + 'tinymce-skins/' + ($style.$localStorage.darkTheme ? 'dark' : 'light')
                }"
              ></editor>
            </v-flex>
          </v-card-text>
        </v-card>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        {{ __('Your search for') }} "{{ filters.search }}" {{ __('found no results.') }}
      </v-alert>
    </v-data-table>
    <div v-if="!pendingTrans" class="text-xs-center" style="position: fixed; top: auto; bottom: 0; left: 0; right: 0; width: 100%;">
      <v-pagination circle total-visible="9" v-model="pagination.page" :length="items.last_page"></v-pagination>
    </div>
    <v-snackbar
      :timeout="2000"
      :color="snackbar.color"
      multi-line
      v-model="snackbar.show"
      class="opacity09"
    >
      {{ snackbar.text }}
      <v-btn dark flat @click.native="snackbar.show = false">{{ __('Close') }}</v-btn>
    </v-snackbar>
    <v-dialog v-model="confirmDelete" max-width="290">
      <v-card>
        <v-card-title class="headline">{{ __('Confirmation') }}</v-card-title>
        <v-card-text>{{ __('Are you sure you want to delete this item?') }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" flat="flat" @click.native="confirmDelete = false">{{ __('No') }}</v-btn>
          <v-btn color="success" flat="flat" @click.native="deleteItem()">{{ __('Yes') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
   </v-card>
</template>

<script>

import Config from '@/config'
import Request from 'request'
import Editor from '@tinymce/tinymce-vue'

import dataTableMixin from '@/mixins/dataTableMixin'

export default {
  mixins: [dataTableMixin],
  name: 'translations',
  localStorage: {
    switchableColumnsTranslations: {
      type: Array,
      default: [true, true, true, false, false, true]
    },
    rowsPerPageTranslations: {
      type: Array,
      default: [10, 25, 50, {'text': 'All', 'value': -1}]
    }
  },
  data: () => {
    return {
      filters: {
        search: '',
        selectedGroup: ''
      },
      pendingTrans: false,
      langs: {},
      groups: [],
      tinyMceKey: Config.tinyMceKey,
      richItemEdit: true,
      pendingTranslations: [],
      switchableColumns: [],
      deleteUrl: 'manage/translations/delete-trans'
    }
  },
  components: {
    'editor': Editor
  },
  computed: {
    allHeaders: function () {
      return [
        {
          text: 'ID',
          align: 'left',
          value: 'id',
          width: '1'
        },
        { text: 'Text', value: 'text' },
        { text: 'Key', value: 'lang_key' },
        { text: 'Group', value: 'lang_group' },
        { text: 'Input Type', value: 'input_type' },
        { text: 'Actions', value: 'name', sortable: false }
      ]
    }
  },
  created: function () {
    this.rowsPerPage = this.$localStorage.rowsPerPageTranslations
    this.switchableColumns = this.$localStorage.switchableColumnsTranslations
    this.pendingTranslations = this.$localStorage.get('pendingTranslations')
  },
  watch: {
    switchableColumns: {
      handler: function (val) {
        this.populateColumns(val)
        this.$localStorage.switchableColumnsTranslations = val
      },
      deep: true
    },
    perPage: function (value) {
      if (this.loading === false) {
        const rowsPerPage = this.rowsPerPage
        var search = value

        if (value === -1) {
          search = {'text': 'All', 'value': -1}
        }
        const index = rowsPerPage.indexOf(search)
        rowsPerPage.splice(index, 1)
        rowsPerPage.unshift(search)
        this.$localStorage.rowsPerPageTranslations = rowsPerPage

        this.pagination.page = 1
        this.fetchData(this.page, this.filters, value, this.orderBy, this.trueOrderType)
      }
    }
  },
  methods: {
    fetchData: function (page = 1, filters = {}, perPage = 10, orderBy = 'id', orderType = 'asc') {
      let self = this
      if (!Number.isInteger(perPage)) {
        perPage = -1
      }
      let qFilters = Object.entries(filters).map(([key, val]) => `${key}=${val}`).join('&')
      self.loading = true
      const url = Config.apiUrl + `manage/translations/fetch-all?page=` + page +
      `&` + qFilters +
      `&per_page=` + perPage +
      `&order_by=` + orderBy +
      `&order_type=` + orderType
      Request(url, function (error, response, body) {
        if (response && response.statusCode === 200) {
          const result = JSON.parse(body)
          self.items = result.tr_all
          self.langs = result.all_langs
          result.tr_groups.unshift('---')
          self.groups = result.tr_groups
          self.loading = false
        } else {
          console.log('error:', error)
          console.log('statusCode:', response && response.statusCode)
        }
      })
    },
    updateItem: function (item) {
      let self = this
      const pendingTranslations = self.pendingTranslations
      const url = Config.apiUrl + 'manage/translations/update-trans'

      Request.post({url: url, form: item}, function optionalCallback (err, httpResponse, body) {
        const result = JSON.parse(body)

        self.snackbar = {
          show: true,
          color: 'success',
          text: self.__('Success!')
        }

        const index = self.$lodash.findIndex(pendingTranslations, ['lang_key', item.lang_key])

        if (index > -1 && item.id <= 0) {
          pendingTranslations[index] = result.data
        }

        if (err) {
          console.log(err)
          console.log(httpResponse)
        }
      })

      if (item.input_type === 1) {
        document.getElementsByTagName('html')[0].style.overflow = 'auto'
      }
    },
    openRichText: function (inputType) {
      console.log(inputType)
      if (inputType === 1) {
        document.getElementsByTagName('html')[0].style.overflow = 'hidden'
      }
    },
    deletePending: function (index) {
      let self = this
      let pendingTranslations = self.pendingTranslations
      if (index > -1) {
        pendingTranslations.splice(index, 1)
        self.$trans.$localStorage.pendingTranslations = pendingTranslations
      }
    },
    populateColumns: function (columns) {
      let self = this
      this.headers = []
      columns.forEach(function (value, index) {
        if (value === true) {
          self.headers.push(self.allHeaders[index])
        }
      })
    }
  }
}
</script>
